.demo {
  width: 200px;
  height: 200px;
  background-color: gray;
  display: inline-block;
  margin: 10px;
  /* border-radius: 100%; */
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.lola {
  background-image: url('../img/lola.jpg');
}


.josh {
  background-image: url('../img/josh.jpg');
}
